<!-- Image and text -->
<nav class="navbar navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
        class="me-2"
        height="30"
        alt="MDB Logo"
        loading="lazy"
      />
      <small>Area Of Values</small>
    </a>
   
  </div>
</nav>


<app-area-of></app-area-of>
<br>


<!-- Footer -->
<footer class="bg-primary text-center text-white fixed-bottom">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:pippop
  </div>
</footer>

